body {
  background: linear-gradient(-45deg, #ff0000, #00ff00, #0000ff, #ffff00);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: #fff;
  font-family: system-ui, "Vazirmatn", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
